<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/alioz/Desktop/workspace/InarAcademy/TestAutomation/seleniumTestNgCucumberProject/src/test/java/automationExercise/testPractices"><classes><class name="automationExercise.testPractices.RegistrationTest"><methods><include name="TestCase_1_Registiration"/></methods></class></classes></test></suite>